* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: transparent;
  font-family: inherit;
}

ol,
ul,
li {
  list-style: none;
  display: block;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a img {
  border: none;
}

button,
a {
  cursor: pointer;
  color: inherit;
}

textarea {
  resize: none;
}

button,
textarea,
select {
  -moz-appearance: none !important;
  appearance: none !important;
  -webkit-appearance: none !important;
  border-radius: 0;
}

body {
  background-color: #e6e6e6;
}

body,
input,
textarea {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: medium;

  color: #138073;
}

/*--------FORM STYLE-------------*/

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
}

#form {
  /* transform: translateX(-50%, -50%); */
  width: 100%;
  max-width: 520px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  font-size: 24px;
  letter-spacing: 0.2em;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
}
@media (max-width: 520px) {
  h1 {
    text-align: right;
  }
}

/*------INPUT--------*/
.inp-text {
  display: block;
  height: 64px;
  width: 100%;
  padding-left: 10px;
  margin-bottom: 20px;
  border: 1px solid #808080;
  background-color: white;
}
input[type="text"]{
    color: #39b69f;
}

.inp-check {
  display: block;
  margin: auto;
  justify-content: center;
  min-width: 20px;
  min-height: 20px;
  margin-right: 10px;
}

/*--------CHECK----------*/
.check-container {
  display: flex;
  flex-direction: row;
}

.check-container a {
  text-decoration: underline;
}

/*---------BUTTON-------*/
.btn-send {
  width: 270px;
  height: 70px;
  margin-top: 40px;
  margin-left: 100px;
  background-color: #39b69f;
  color: white;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 0.2em;
}
